@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #1b1b1b;
}


.will-change-transform {
  will-change: transform;
}

/* width */
@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #1b1b1b;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 100vh;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
  }
}
